body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    text-indent: 1em;
}

.since {
    color: black;
    display: block;
    font-size: 60%;
}

.text{
    color: #333333;

}

h1{
    background-color: #3498db;
    text-align: center;
    padding: 2rem;
    margin-bottom: 20px;
    color: #d5e0eb;
}

h2{
    background-color: #2583c2;
    text-align: center;
    padding: 1rem;
    margin-bottom: 20px;
    color: #d5e0eb;
}


h3 {
    background: #6767ff;
    color: #d5e0eb;
    margin: 0;
    padding-left: 0.5em;
}

li {
    list-style-type: none;
    vertical-align: middle;
}

li.file::before {
    content: "\1f4be";
    font-size: 2rem;
    position: relative; /* 追加 */
    top: -0.5em; /* 追加 */
}

li.outerlink::before {
    content: "\1F517";
    font-size: 2rem;
    position: relative; /* 追加 */
    top: -0.5em; /* 追加 */

}

li.link::before {
    content: "\1F4DC";
    font-size: 2rem;
    position: relative; /* 追加 */
    top: -0.5em; /* 追加 */
}

textarea {
    line-height: 1.2em;
}

main a {
    color: rgb(64, 93, 255);
    outline: none;
    padding-bottom: 2px;
    border-right:  1px solid #89b2ff;
    border-bottom: 1px solid #4d53a5;
    background-color:rgb(210, 205, 255);
    margin: 0.5rem;
    font-size: 2rem;;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 30rem; 
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    /* はみ出さない様に調整する */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main a:visited {
    color: rgb(64, 93, 255);
}

main a:hover {
    border-color: transparent;
    box-shadow: 0 2px 6px rgba(255, 252, 252, 0.5);
}

main a:active {
    transform: translate3d(1px, 1px, 1px);
    border-right: 0;
    color: rgb(146, 116, 255);
    border-left: 1px solid #88881c;
    border-top: 1px solid #88881c;
    box-shadow: 0 0 0 0;
}

.back {
    outline: none;
    padding-bottom: 2px;
    border-right:  1px solid #d8daff;
    border-bottom: 1px solid #d8daff;
    background-color:#60c0ff;
    margin: 0.2em;
    font-size: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    width: 3em; 
    border-radius: 0.2em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #d5ecff;
}


.button {
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 0.5em;
    border: 0.1em;
    line-height: 2rem;
    font-size: 2rem;
}

.button2 {
    border-right:  1px solid #d8daff;
    border-bottom: 1px solid #d8daff;
    background-color:#60c0ff;
    color: #c0c7ff;
    padding: 0.2em;
    height: 1.0em;
    margin: 0.2em;
    width: 3em;
    border-radius: 0.2em;
    line-height: 1.0em;
    font-size: 1.6rem;
}



summary {
    display: inline-block;
    border-right:  1px solid #d8daff;
    border-bottom: 1px solid #d8daff;
    background-color:#60c0ff;
    color: #fbfcff;
    padding: 0.5rem;
    border-radius: 5px;
}

summary:hover{
    border-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.gotop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
}

.gotop a{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    background-image: url('/icon/gotop.svg');
    color: white;
    background-color: rgb(91, 93, 255);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: 1.0;
    animation: buttonflow 3s 1;
    display: block;
}

@keyframes buttonflow {
    from { opacity: 0; }
    to { opacity: 100; }
}

.gotop a:hover {
    opacity: 0.60;
    color: grey;
}

/*
@media screen and (min-device-width: 480px) {
    main a {
        font-size: 1.6rem;
    }

    .back {
        font-size: 1.6rem;
    }

    .gotop {
        font-size: 1.6rem;
    }

}

@media screen and (min-device-width: 768px) {
    main a {
        font-size: 1.5rem;
    }

    .back {
        font-size: 1.5rem;
    }

}

@media screen and (min-device-width: 1024px) {
    main a {
        font-size: 1.2rem;
    }

    .back {
        font-size: 1.2rem;
    }
}
*/