body {
    background-color: #ffffcc;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    text-indent: 1em;
}

.since {
    color: black;
    display: block;
    font-size: 60%;
}

.text{
    color: #333333;

}

h1{
    background: aqua;
    color: black;
    margin: 0
}

h2{
    background: skyblue;
    color: black;
    margin: 0
}


h3{
    background: #ccccff;
    color: black ;
    margin: 0
}

li {
    list-style-type: none;
}

li.file::before {
    content: "\1f4be";
    font-size: 2rem;
}

li.outerlink::before {
    content: "\1F517";
    font-size: 2rem;
}

li.link::before {
    content: "\1F4DC";
    font-size: 2rem;
}

textarea {
    line-height: 1.2em;
}

main a {
    outline: none;
    padding-bottom: 2px;
    border-right:  1px solid #88881c;
    border-bottom: 1px solid #88881c;
    background-color:cornsilk;
    margin: 0.5rem;
    font-size: 2rem;;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 30rem; 
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

main a:visited {
    color: blue;
}

main a:hover {
    border-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

main a:active {
    transform: translate3d(1px, 1px, 1px);
    border-right: 0;
    color: blue;
    border-left: 1px solid #88881c;
    border-top: 1px solid #88881c;
    box-shadow: 0 0 0 0;
}

.back {
    outline: none;
    padding-bottom: 2px;
    border-right:  1px solid #88881c;
    border-bottom: 1px solid #88881c;
    background-color:cornsilk;
    margin: 0.2em;
    font-size: 2rem;
    height: 1.8em;
    line-height: 1.8em;
    width: 4em; 
    border-radius: 0.5em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.button {
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 0.5em;
    border: 0.1em;
    line-height: 2rem;
    font-size: 2rem;
}

.button2 {
    border-right:  0.05em solid #88881c;
    border-bottom: 0.05em solid #88881c;
    background-color: cornsilk;
    color: #334aff;
    padding: 0.4em;
    height: 1.0em;
    margin: 0.2em;
    width: 3em;
    border-radius: 0.5em;
    line-height: 1.0em;
    font-size: 1.6rem;
}

summary {
    display: inline-block;
    border-right:  1px solid #88881c;
    border-bottom: 1px solid #88881c;
    background-color:cornsilk;
    padding: 0.5rem;
    border-radius: 5px;
}

summary:hover{
    border-color: transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.gotop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
}

.gotop a{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    background-image: url('/icon/gotop.svg');
    color: white;
    background-color: darkgoldenrod;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    opacity: 1.0;
    animation: buttonflow 3s 1;
    display: block;
}

@keyframes buttonflow {
    from { opacity: 0; }
    to { opacity: 100; }
}

.gotop a:hover {
    opacity: 0.60;
    color: grey;
}

/*
@media screen and (min-device-width: 480px) {
    main a {
        font-size: 1.6rem;
    }

    .back {
        font-size: 1.6rem;
    }

    .gotop {
        font-size: 1.6rem;
    }

}

@media screen and (min-device-width: 768px) {
    main a {
        font-size: 1.5rem;
    }

    .back {
        font-size: 1.5rem;
    }

}

@media screen and (min-device-width: 1024px) {
    main a {
        font-size: 1.2rem;
    }

    .back {
        font-size: 1.2rem;
    }
}
*/